/.ipynb_checkpoints
/data/college_all.csv
/data/CollegeBasketballPlayers2022.csv
/data/drafted_only.xlsx
/data/gbc_entries.csv
/data/grid_et_csv.csv
/data/more_targets.csv
/data/test_2022.csv
/notebooks/new.ipynb